{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Expense Tracker</title>


    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'tracker/css/signin.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Signin to Track your Expenses!</h2>
        {% if login_error %}
          <p style="color:red">{{ login_error }}</p>
        {% endif %}
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" name="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
        <!-- <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button> -->
        <input class="btn btn-lg btn-default btn-block" type="submit" value="Sign in"></input>
      </form>
    </div> <!-- /container -->

  </body>
</html>
